{% extends "base.html" %} 
{% load static %} 
{% block content %}

<!-- This will be inserted via the localStorage -->
<div class="species-main-container">
    <div class="species-hierarchy-container">
        <div class="guesses-container">
            <!-- Chart.js thingy -->
            <a href="#" alt="this currently goes nowhere">Other Guesses</a>
        </div>

        <div class="species-hierarchy">
            <div class="classification test">
                <p id="kingdom">Kingdom:</p>
                <p>Animalia</p>
            </div>
            <div class="classification">
            <p id="Phylum">Phylum: Arthropoda</p>
            <p></p>
            </div>
            <div class="classification">
            <p id="class">Class: Insecta</p>
            <p></p>
            </div>
            <div class="classification">
            <p id="order">Order: Orthoptera</p>
            <p></p>
            </div>
            <div class="classification">
            <p id="family">Family: {{species.family}}</p>
            <p></p>
            </div>
            <div class="classification">
            <p id="genus">Genus: {{species.genus}}</p>
            <p></p>
            </div>
            <div class="classification">
            <p id="species">Species: {{species.tax_name}}</p>
            <p></p>
            </div>
            <!-- The specie specific information can be viewed in a landscape form rather than column
                    Can be confusing for viewing audience as the flow would seem off -->
        </div>
    </div>

    <div class="image-data-container">
        <div class="images-container">
            <div class="user-image-container">
                <img id="user-pic" src="https://images.unsplash.com/photo-1485254767195-60704c46702e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                <p class="info">Your Uploaded Image</p>
            </div>

            <!-- These photos don't work, BWAHHHH -->
            <div class="carousel">
                <div class="slideshow-container">
                    <div class="slide fade">
                        <img class="image" src="https://images.unsplash.com/photo-1446776899648-aa78eefe8ed0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80" alt="">
                    </div>
                    <div class="slide fade">
                        <img class="image" src="https://images.unsplash.com/photo-1451186242394-2b461812025b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" alt="">
                    </div>
                    <!-- Below is the legit photos -->
                    {% for photo in photos %}
                    <div class="slide fade">
                        <img src="{{photo.image}}" alt="{{photo.species.tax_name}}">
                    </div>
                    {% endfor %}
                </div>
                <br>

                <div class="dots" style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    {% for photo in photos %}
                    <span style="background: url({{photo}}) center/cover;" class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="data-container">
            <div class="body-features">
                <p class="info" id="size" placeholder="Size">Size: {{species.size}}</p>
                <p class="info" id="colors" placeholder="Colors">Colors: {{species.colors}}</p>
            </div>
            <p class="info" id="desc" placeholder="Description">Description: {{species.desc}}</p>
            <div id="com_names">
                <h4>Common Names:</h4>
                {% for common in com_names %} 
                <p>{{common.name}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}