{% extends "base.html" %} {% load static %} {% block content %}

<div>
    <img src="" id="user-pic" alt="">
</div>

<div id="carousel"></div>

<div>
    <p id="kingdom">Kingdom: Animalia</p>
</div>
<div>
    <p id="Phylum">Phylum: Arthropoda</p>
</div>
<div>
    <p id="class">Class: Insecta</p>
</div>
<div>
    <p id="order">Order: Orthoptera</p>
</div>
<div>
    <p id="family"></p>
</div>
<div>
    <p id="genus"></p>
</div>
<div>
    <p id="species"></p>
</div>
<div>
    <p id="size"></p>
</div>
<div>
    <p id="colors"></p>
</div>
<div>
    <p id="desc"></p>
</div>
<div>
    <p id="com_names"></p>
</div>


<button id="grabber">Fetch</button> {% endblock %}