* {
    /* margin-left: 3vw; */
    /* margin-left: 1.5vw; */
}

body {
    background-color: #c8e087;
}

h1 {
    margin-left: 4.5vw;
}

.dropzone.dz-clickable {
    width: 30vw;
    height: 30vw;
    text-align: center;
    align-items: center;
    margin-top: 8vw;
}

span {
    text-align: center;
    align-items: center;
}


/* #myDropzone {
    min-width: 50vw;
} */

.container {
    display: flex;
}

.header {
    padding: .25vw;
    background: #95a472;
    color: white;
    font-size: 1.5vw;
}

button {
    width: 200px;
    height: 200px;
    font-size: 35px;
    margin-left: 20vw;
    margin-top: 10vw;
}